@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hey, Luvi</h1>
    <p>Just testing this tech stack out as a potential route for making the app.</p>
</div>